<div class="card mt-3">
    <div class="cardbody">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, consequuntur 
            excepturi corporis quod exercitationem accusamus fuga quasi consectetur dolorem quos, officia 
            at quia labore aut eveniet enim maiores inventore quisquam ipsum tempore architecto. Pariatur 
            molestiae minus perferendis, vel nihil quibusdam.</p>
    </div>
</div>