<!-- header -->
<%- include('include/_header')%>
<!-- header -->

<!-- /Main site se quito el site-main-->
<main id="">
    <div class="container">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/index"><i class="fas fa-angle-double-left"></i>Todas las personas</a>
                </div>
            </div>
            <!-- <div class="form-title text-center">
                <h2 class="text-blue-800 font-bold text-2xl">Nueva Persona</h2>
                <span class="text-blue-800">Utiliza el siguiente formulario para registrar una nueva persona</span>
            </div> -->
        
        <!-- add report form -->
        <%- include('include/_formperson')%>
    
    </div>
</main>
<!-- /Main site -->

<!-- footer -->
    <%- include('include/_footer')%>
<!-- footer -->