<!-- CREANDO FORM EGRESADO -->
<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md mt-20 form">
    <h1 class="text-xl font-bold text-blue-900 capitalize dark:text-blue-900 text-center">REGISTRAR DATOS DEL EGRESADO</h1>
    <form action="" method="POST" id="add_report">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="code_graduate">Código Universitario</label>
                <input type="hidden" name="person" value="<%= persons._id %>">
                <input id="code_graduate" name="code_graduate" type="text" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="1002020123">
            </div>
            
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="school">Escuela</label>
                <select name="school" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                    <option value="">Seleccione</option>
                    <option value="Contabilidad y Finanzas">Contabilidad y Finanzas</option>
                    <option value="Derecho y Ciencia Política">Derecho y Ciencia Política</option>
                    <option value="Enfermería">Enfermería</option>
                    <option value="Ingeniería Agrónoma">Ingeniería Agrónoma</option>
                    <option value="Ingeniería Civil">Ingeniería Civil</option>
                    <option value="Ingeniería en Industrias Alimentarias">Ingeniería en Industrias Alimentarias</option>
                    <option value="Obstetricia">Obstetricia</option>
                </select>
            </div>
            
            <div> 
                <label class="text-blue-800 dark:text-blue-900" for="program_academic">Programa Académico</label>
                <input id="program_academic" name="program_academic" type="text" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="Contabilidad y Finanzas">
            </div>

            <div> 
                <label class="text-blue-800 dark:text-blue-900" for="study_plan">Plan de Estudios</label>
                <input id="study_plan" name="study_plan" type="text" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="2021-I">
            </div>

            <div> 
                <label class="text-blue-800 dark:text-blue-900" for="approved_credits">Créditos aprobados</label>
                <input id="approved_credits" name="approved_credits" type="number" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="24">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="date_firstenrollment_unab">Fecha de Primera Matrícula en la UNAB</label>
                <input id="start" name="date_firstenrollment_unab" type="date" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="date_firstenrollment_origen">Fecha de Primera Matrícula Universidad de Origen</label>
                <input id="start" name="date_firstenrollment_origen" type="date" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="date_last_semester">Fecha de Último Semestre</label>
                <input id="start" name="date_last_semester" type="date" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="date_egress">Fecha de Egreso</label>
                <input id="start" name="date_egress" type="date" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="condition">Condición</label>
                <select name="condition" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                    <option value="">Seleccione</option>
                    <option value="Egresado">Egresado</option>
                    <option value="Bachiller">Bachiller</option>
                </select>
            </div>
            <!-- <div> 
                <label class="text-blue-800 dark:text-blue-900" for="emailAddress">Email Address</label>
                <input id="emailAddress" type="email" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="password">Password</label>
                <input id="password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Password Confirmation</label>
                <input id="passwordConfirmation" type="password" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Color</label>
                <input id="color" type="color" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Select</label>
                <select class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                    <option>Surabaya</option>
                    <option>Jakarta</option>
                    <option>Tangerang</option>
                    <option>Bandung</option>
                </select>
            </div>
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Range</label>
                <input id="range" type="range" class="block w-full py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Date</label>
                <input id="date" type="date" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-blue-800 dark:text-blue-900" for="passwordConfirmation">Text Area</label>
                <textarea id="textarea" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-900 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
            </div>
            <div>
                <label class="block text-sm font-medium text-blue-800">
                Image
              </label>
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-blue-800" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <span class="">Upload a file</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only">
                    </label>
                    <p class="pl-1 text-blue-800">or drag and drop</p>
                  </div>
                  <p class="text-xs text-blue-800">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div>
            </div> -->
        </div>

        <div class="flex justify-center mt-6 save">
            <button type="submit" class="crgrad px-32 py-3 font-bold leading-5 text-gray-200 transition-colors duration-200 transform bg-blue-900 rounded-md hover:bg-yellow-600 focus:outline-none focus:bg-gray-600" id="crgrad">GUARDAR</button>
        </div>
    </form>
</section>